.site-header {
  background-color: #00183f; 
  color: #d8cd64;             
  padding: 50px;          
}

body {
  background-color: #E3DFD6; /* Light Orange background */
  margin: 0px;
  padding: 0px;
}

.menu-container {
    background-color: #484f57;
    padding: 2px 10px;
    position: relative;
}

.menu {
  display: flex;             /* Horizontal Link */
  gap: 10px;                 /* Spacing between links */
  background-color: #484f57; /* Background Color */
  padding: 10px 20px;           /* Space From Edge */
}

.menu a {
  color: #ffffff;              /* Link color */
  text-decoration: none;     /* Remove underline */
  font-weight: bold;
  padding: 5px 10px;
  transition: background 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: #555;    /* Hover effect */
  color: #fff;
  border-radius: 4px;        /* Rounded edges on hover */
}