.site-header {
         
}

.site-header {
  display: flex;                 /* Flex layout for horizontal alignment */
  justify-content: space-between; /* Push left and right blocks to edges */
  align-items: center;            /* Vertically center items */
  background-color: #00183f; 
  color: #d8cd64;             
  padding: 50px;
  box-sizing: border-box;
  width: 100%;
}

.header-left {
  text-align: right;     
  max-width: 50%;     
  font-family: 'Montserrat', sans-serif;
}

.header-left h1 {
  font-size: 48px;
  font-weight: 700;   
  margin: 0;
}

.header-left p {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: 5px 0 0 0;
}

.header-right {
  text-align: center;    
  max-width: 40%;    
  font-family: 'Montserrat', sans-serif;
}

.header-right p {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

body {
  background-color: #E3DFD6; /* Light Orange background */
  margin: 0px;
  padding: 0px;
}

.menu-container {
    background-color: #484f57;
    padding: 2px 10px;
    position: relative;
}

.menu {
  display: flex;             /* Horizontal Link */
  gap: 10px;                 /* Spacing between links */
  background-color: #484f57; /* Background Color */
  padding: 10px 20px;           /* Space From Edge */
}

.menu a {
  color: #ffffff;              /* Link color */
  text-decoration: none;     /* Remove underline */
  font-weight: bold;
  padding: 5px 10px;
  transition: background 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: #555;    /* Hover effect */
  color: #fff;
  border-radius: 4px;        /* Rounded edges on hover */
}