* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.brand {
  display: flex;
  align-items: center;
  gap: 30px;
}

.motto {
  font-size: 14px;
  color: #94a3b8;
  max-width: 400px;
  line-height: 1.4;
  font-style: italic;
  text-align: center;
}

.name {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.name .main {
  font-size: 26px;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
}

.name .sub {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #38bdf8;
  margin-top: 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #0f172a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a {
  color: #E3DFD6;
  margin-left: 25px;
  text-decoration: none;
  font-size: 15px;
}

nav a:hover {
  color: #38bdf8;
}

body {
  background-color: #E3DFD6; /* Light Orange background */
  margin: 0px;
  padding: 0px;
  padding-top: 60px;
  background-image: url("background.jpeg");
  background-size:cover;
  background-attachment: fixed;
}

a.heading {
	color:#ffffff; 
	text-decoration: none;
}

a.heading:hover {
	color: #38bdf3
}

a.text {
	color:#004e7a; 
	text-decoration: none; 
	font-size: clamp(1.1rem, 1rem + 0.6vw, 1.4rem);
}

a.text:hover {
	color: #ffffff
}

.box {
	flex: 1;               
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	max-width: 30%;
	max-height: 20%;
	background: linear-gradient(to bottom, #00183f 20%, #9babb1 20%);
	border-radius: 12px;
	overflow: hidden;
}

.box h2 {
	padding-bottom: 20px;
}

.foot {      
	padding: 10px;
  box-sizing: border-box;
	background: #0f172a;
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
}

.foot p {
  color:#E3DFD6;
  text-align: center;
}